body{
    margin: 0%;
    padding: 0%;
}

/* nav bar parent div */
.parent-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 60px;
    height: 100px;
}
/* Emergency Service logo part which is in the left side of navbar */
.left-logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 195px;
    padding-left: 40px;
}
.nav-text-logo{
    font-family: "Hind Madurai", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    font-style: normal;
    color: #006747;

}
/* Heart-coin-copybutton which are right of the navbar */
.nav-right-btn-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 397px;
    height: 52px;
}
.nav-common-div{
    background-color: rgba(65, 255, 107, 0.1);
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 5px;
    height: 50px;
    width: 80px;
    border-radius:30px ;
    padding-inline: 10px;
    border: 2px solid white; 
}
.nav-btn{
    height: 50px;
    width: 100px;
    padding: 10px;
    border-radius:30px ;
    background-color:#00A63E ;
    color: white;
    border: 2px solid white;
    font-size: 1rem;
    font-weight: bold;

}
/* ======2nd Nav where the banner shows ====== */
.nav-banner-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(90deg,#013223,#006747,#013223);
    padding-top: 15px;
    width: 100%;
    padding-top:30px ;
}
.banner-text-head{
    font-family: "Hind Madurai", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.banner-text-description{
    font-family: "Hind Madurai", sans-serif;
    font-weight: 600;
    font-style: normal;
}