/* all colours of the page */
:root{
  --primary-green: #00A63E;
  --mid-green: #006747;
  --dark-green: #013223;
  --light-red: #FFE3E2;
  --gray-text: #5C5C5C;
  --gray-bg: #eeeeee;
  --white: #ffffff;
  --bg: #f3fffb;
}
body{
    margin: 0%;
    padding: 0%;
    background-color: var(--bg);
    font-family: "Hind Madurai", sans-serif;
}
.zero{
    padding: 0px;
    margin: 0px;
}
.bold-font{
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}
.description-font{
  background-color: var(--gray-bg);
  color: var(--gray-text);
  padding: 5px;
  width: fit-content;
  border-radius: 9px;
}

/* navbar-parent-div: this class is linked with    navbar*/
.navbar-parent-div{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   padding-inline: 40px;
}
.navbar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--mid-green);
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    max-width: 300px;
}
.heart-coin-copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.coin-heart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.navbar-btn{
    border: 2px solid var(--primary-green);
    border-radius: 25px;
    background-color: var(--primary-green);
    color: var(--white);
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    width: 125px;
    height: 60px;
}
/* Responsive Navbar */
.responsive-navbar-parent{ display: none; }

.responsive-navbar-HCC{
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 58px;
    background-color: var(--white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.rNavbar-common{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-style: normal;
    
}
.rNav-button{
    border: 2px solid var(--primary-green);
    border-radius: 15px;
    background-color: var(--primary-green);
    color: var(--white);
    font-weight: 700;
    font-style: normal;
    width: 120px;
    height: 58px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/* Banner css */
.banner-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 35px;
    background-image: linear-gradient(90deg,var(--dark-green),var(--mid-green),var(--dark-green));
    color: var(--white);
}
.text-logo-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.responsive-banner{ display: none; }
/* ===> CSS: main-Grid <=== */
.main-Grid{
  display: grid;
  grid-template-columns: repeat(4, 410px);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  gap: 40px ;
  margin-top: 90px;
  margin-bottom: 40px;
}
.history-card{
  grid-column: 4;
  grid-row: 1 / 4;
}
/* cards css */
.Cards-parent{
  max-width: 390px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.img-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width:370px;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--gray-text);
}
.img-bgColor{
  border-radius: 12px;
  background-color: var(--light-red);
  padding: 8px;
}
.card-document{
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width:370px;
}
.card-button{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width:370px;
  gap: 20px;
}
.cButton-common{
  border: 1px solid var(--gray-bg);
  width: 48%;
  height: 45px;
  border-radius: 10px;
  font-weight: 600;
  font-style: normal;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.cButton-green{
  background-color: var(--primary-green);
  color: var(--white);
}
/* ======>historycard-title-btn: a class of history card<====== */
.historycard-title-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-text{
  font-size: 14px;
}
/* ======>history-document<====== */
.histories{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-bg);
  border-radius: 9px;
  padding: 10px;
  margin-top: 15px;
}
/* ======Responsive for mobile====== */
@media screen and (max-width: 576px){
    /* navabr in Big Screen */
    .navbar-parent-div{
        display: none;
    }
    /* banner */
    .text-logo-banner{
        display: none;
    }
    .banner-parent{
        padding: 25px;
    }
    .responsive-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    max-width: 400px;
    padding: 5px; 
    }
    /* navrbar in Small Screen */
    .responsive-navbar-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding-inline: 2px;
    gap: 5px;
    }
    /* ======>Grid<====== */
    .main-Grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    padding: 15px;
    gap: 20px;
   }
   .history-card{
    grid-column: 1;
    display: none;
   }
}
